<!doctype html>
<html>
  <head>
    <title>Магазин</title>
  </head>
  <body>
    <header>
      <h1>Магазин</h1>
    </header>

    <nav>
      <ul>
        <li><a href="/">Главная</a></li>
        <li><a href="/clothes">Одежда</a></li>
        <li><a href="/shoes">Обувь</a></li>
        <li><a href="/jacket">Куртки</a></li>
      </ul>
    </nav>

    <main>
      <h1>Добро пожаловать в магазин!</h1>
      <p>Выберите категорию товаров, чтобы начать покупки.</p>
    </main>

    <footer>
      <p>© Магазин</p>
    </footer>
  </body>
</html>
